github "Cocoanetics/DTCoreText" == 1.6.16
github "Cocoanetics/DTFoundation" == 1.7.9
github "mixpanel/mixpanel-iphone" == 2.9.4
github "ReactiveCocoa/ReactiveCocoa" ~> 2.4.7
github "ReactiveX/RxSwift" ~> 2.3.1
github "Simperium/simperium-ios" "carthage"
github "wordpress-mobile/MediaPicker-iOS" "try/carthage"
github "wordpress-mobile/NSObject-SafeExpectations" "try/carthage"
github "wordpress-mobile/WordPressCom-Analytics-iOS" "try/carthage"
github "wordpress-mobile/wpxmlrpc" "try/carthage"
